:root {
    --corprimaria: #fff;
    --corsecundaria: #F98E1E;
    --corauxiliar: #ECECEC;
    --corborda: #707070;
    --corsecundaria-light: hsl(31, 95%, 75%);
    --corsecundaria-dark: hsl(31, 93%, 35%);
    --cordestaque: #F80404;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

main {
    margin-bottom: 70px;
}

#barra-topo {
    top: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 56px;
    background-color: var(--corsecundaria);
    /* box-shadow: 0 2px 5px rgba(204, 204, 204,.2); */
}

#menu-principal {
    background-color: var(--corsecundaria);
    position: fixed;
    top: 0;
    left: -305px;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 5px var(--corborda);
    z-index: 9999;
    transition: 0.2s ease-in-out;

}

#menu-principal ul {
    margin-top: 50px;
}

#menu-principal ul li {
    text-align: left;
    padding: 10px ;
}

#menu-principal ul li a {
    text-decoration: none;
    color: var(--corprimaria);
    font-size: 1.2rem;


}

#overlay {
    position: fixed;
    background-color: rgba(51, 51, 51, .8);
    left: 0;
    /* Esse que faz a animação do botão... 0 ele aparece*/
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

.menushow {
    left: 0px !important;
}

.btnMenu {
    font-size: 30px;
    color: var(--corprimaria);
}

.icon-menu {
    font-size: 30px;
    color: #fff;
}

#btnClose {
    position: absolute;
    font-size: 1.4rem;
    right: 10px;
    border: none;
    background-color: var(--corsecundaria);
    color: var(--corauxiliar)
}

.formato-bolinha {
    border-radius: 50%;
}

#pesquisar {
    position: relative;
    padding: 25px 10px;
    background-color: var(--corsecundaria);
    border-radius: 0px 0px 30px 30px;
    margin-top: 56px;
}

#pesquisar input {
    background: var(--corauxiliar);
    width: 100%;
    padding: 8px 50px 8px 15px;
    border: 1px solid var(--corborda);
    border-radius: 20px;
    height: 40px;
    font-size: 1rem;
}

#pesquisar button {
    background: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 30px;
}

.icon-lupa {
    font-size: 30px;
}

.lista-categorias ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.lista-categorias .item-categorias {
    border: 1px solid var(--corborda);
    border-radius: 18px;
    background-color: var(--corauxiliar);
    text-align: center;
    width: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.lista-categorias p {
    font-size: 0.7rem;
    margin-top: 5px;

}

.icon-hamburger {
    color: #c58803;
    font-size: 30px;
}

.icon-pizza {
    color: #cc1515;
    font-size: 30px;
}

.icon-batata {
    color: #ddc705;
    font-size: 30px;
}

.icon-refrigerante {
    color: #4ead3b;
    font-size: 30px;
}

.icon-bebida {
    color: #802900;

    font-size: 30px;
}



.lista-produtos h1 {
    padding-top: 20px;
    font-size: 1.4rem;
    text-align: center;
}

.lista-produtos p {
    padding-bottom: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.lista-produtos {
    display: inline-flex;
    flex-wrap: wrap;
}

.texto-titulo {
    text-align: center;
}

.lista-produtos .item-produtos {
    border: 1px solid var(--corborda);
    width: calc(50% - 16px);
    margin: 8px;
    box-shadow: 0 0 5px var(--corborda);
    border-radius: 20px;
    padding: 5px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.lista-produtos .item-produtos small {
    font-size: 0.8rem;
}

.lista-produtos .item-produtos h2 {
    font-size: 1.3rem;
    color: #333333;
}

.produto-footer {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    color: var(--cordestaque);
}

.icon-adicionar {
    color: var(--corauxiliar);
    font-size: 22px;
}

.btn-adicionar {
    background-color: #e01818;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

 .btn-laranja{
    background-color: #c58803;
}

#rodape #menu-rodape {
    background-color: var(--corsecundaria);
    position: fixed;
    width: 100%;
    height: 56px;
    bottom: 0px;
    box-shadow: 0 2px 5px var(--corborda);

}

#menu-rodape ul {
    display: flex;
    justify-content: space-around;


}

#menu-rodape ul a {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--corprimaria);
    display: block;

}

.boxConteudo{
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;

}
